@import url(./base.css);
.description h2 , .additional-info h2{
  font-weight: var(--semibold);
}
.disponivel{
background: var(--success-green);
color: var(--white);
padding: 10px 20px;
display: inline-block;
  
}

.reservado{
  background: var(--highlight-yellow);
  color: var(--white);
  padding: 10px 20px;
  display: inline-block;
}
.alugado{
background: var(--primary-blue);
color: var(--white);
padding: 10px 20px;
display: inline-block;
}
.sucesso-email{
  margin-top: 5px;
  background: var(--success-green);
color: var(--white);
border-radius: var(--border-rd);
padding: 10px 20px;
display: inline-block;
}
#single-ap{
  margin-top: 140px;
}
  /* Estilos adicionais específicos para esta página */
  .container {
      max-width: 1200px;
      margin: auto;
      padding: 20px;
  }

  .gallery {
      display: flex;
      overflow-x: auto;
      gap: 10px;
      padding-bottom: 20px;
  }
 .title-detail{
  font-weight: var(--bold-font);
 }
  .gallery img {
      width: 100%;
      max-width: 300px;
      border-radius: var(--border-rd);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .description, .additional-info, .status {
      margin: 20px 0;
  }

  .status {
      font-weight: var(--bold-font);
      color: var(--success-green);
  }

  .status.reserved {
      color: var(--alert-red);
  }

  .status.sold {
      color: var(--dark-gray);
  }

  .btn {
      background-color: var(--accent-orange);
      color: var(--white);
      padding: 10px 20px;
      border-radius: var(--border-rd);
      cursor: pointer;
      text-align: center;
      display: inline-block;
      text-decoration: none;
  }

  .btn:hover {
      background-color: var(--primary-blue);
  }

  .form-group {
      margin-bottom: 15px;
  }

  .form-group label {
      display: block;
      margin-bottom: 5px;
  }

  .form-group input, .form-group textarea {
      width: 100%;
      padding: 10px;
      border-radius: var(--border-rd);
      border: 1px solid var(--dark-gray);
  }